
/** about-section **/

.about-section{
  position: relative;
}

.content_block_one .content-box{
  position: relative;
  display: block;
}

.content_block_one .content-box .accordion-box .accordion{
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.content_block_one .content-box .accordion-box .accordion:last-child{
  border-bottom: none;
}

.content_block_one .content-box .accordion-box .accordion .acc-btn{
  position: relative;
  padding: 10px 30px 10px 70px;
  cursor: pointer;
  margin: 40px 0px;
}

.content_block_one .content-box .accordion-box .accordion:first-child .acc-btn{
  margin-top: 0px;
}

.content_block_one .content-box .accordion-box .accordion:last-child .acc-btn{
  margin-bottom: 0px;
}

.content_block_one .content-box .accordion-box .accordion .acc-btn .icon-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #fff;
  box-shadow: 0px 4px 25px 2px rgba(241, 242, 245, 1);
  text-align: center;
  border-radius: 50%;
  font-size: 7px;
  color: var(--title-color);
  transition: all 500ms ease;
}

.content_block_one .content-box .accordion-box .accordion .acc-btn.active{
  margin-bottom: 0px;
}

.content_block_one .content-box .accordion-box .accordion .acc-btn.active .icon-box{
  color: #fff;
  transform: rotate(180deg);
  box-shadow: none;
}

.content_block_one .content-box .accordion-box .accordion .acc-btn h3{
  font-size: 24px;
  line-height: 30px;
}

.content_block_one .content-box .accordion-box .accordion .acc-content{
  position: relative;
  padding: 15px 30px 40px 70px;
}


.video_block_one .video-inner{
  position: relative;
  width: 100%;
  padding: 218px 0px;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.video_block_one .video-box .video-content{
  position: relative;
  display: inline-block;
  width: 148px;
  height: 148px;
  background: rgba(255, 255, 255, 0.50);
  border-radius: 50%;
  text-align: center;
}

.video_block_one .video-box .video-content a{
  position: absolute;
  display: inline-block;
  left: 32px;
  top: 32px;
  width: 82px;
  height: 82px;
  line-height: 88px;
  background: #fff;
  font-size: 30px;
  border-radius: 50%;
}

.video_block_one .video-content .curve-text{
  position: absolute;
  left: 74px;
  top: 7px;
  width: 148px;
  height: 148px;
}

.video_block_one .video-content .curve-text span{
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-color);
}

.video_block_one .video-box{
  position: relative;
  display: block;
}


/** about-style-two **/

.about-style-two{
  position: relative;
}

.about-style-two .tabs-box{
  position: relative;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}

.about-style-two .tabs-box:before{
  position: absolute;
  content: '';
  background: #191919;
  width: 70%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.about-style-two .tab-btns{
  position: relative;
  padding: 60px 0px 60px 60px;
  z-index: 2;
}

.about-style-two .tab-btns li{
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-family: var(--title-font);
  color: #fff;
  font-weight: 500;
  border-radius: 80px;
  padding: 25px 40px;
  padding-right: 100px;
  cursor: pointer;
  transition: all 500ms ease;
}

.about-style-two .tab-btns li.active-btn,
.about-style-two .tab-btns li:hover{

}

.about-style-two .tab-btns li i{
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  color: var(--title-color);
  opacity: 0;
  transition: all 500ms ease;
}

.about-style-two .tab-btns li.active-btn i,
.about-style-two .tab-btns li:hover i{
  opacity: 1;
}

.about-style-two .tabs-content{
  position: relative;
  padding: 45px 50px 50px 0px;
  z-index: 1;
}

.about-style-two .tabs-content:before{
  position: absolute;
  content: '';
  background: #F7F7F7;
  border-radius: 40px;
  width: calc(100% + 87px);
  height: 100%;
  top: 0px;
  right: 0px;
  z-index: -1;
}

.about-style-two .content-box{
  position: relative;
  display: block;
}

.about-style-two .content-box h2{
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 19px;
}

.about-style-two .content-box p{
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}


/** about-style-three **/

.about-style-three{
  position: relative;
}

.content_block_seven .content-box{
  position: relative;
  display: block;
}

.content_block_seven .content-box .accordion-box .accordion{
  position: relative;
  border: 1px solid #E5E5E5;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
}

.content_block_seven .content-box .accordion-box .accordion:last-child{
  margin-bottom: 0px;
}

.content_block_seven .content-box .accordion-box .accordion.active-block{
  background: #fff;
  border-color: #fff;
  box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.04);
}

.content_block_seven .content-box .accordion-box .accordion .acc-btn{
  position: relative;
  padding: 24px 60px 24px 30px;
  cursor: pointer;
}

.content_block_seven .content-box .accordion-box .accordion .acc-btn h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.content_block_seven .content-box .accordion-box .accordion .acc-btn .icon-box{
  position: absolute;
  top: 35px;
  right: 35px;
  font-size: 7px;
  color: var(--title-color);
  transition: all 500ms ease;
}

.content_block_seven .content-box .accordion-box .accordion .acc-content{
  padding: 0px 30px 30px 30px;
}

.content_block_seven .content-box .accordion-box .accordion .acc-content p{
  font-size: 18px;
  line-height: 28px;
  font-weight: 460px;
  margin-bottom: 24px;
}

.content_block_seven .content-box .accordion-box .accordion .acc-content a{
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-family: var(--title-font);
  font-weight: 500;
  border-bottom: solid;
  border-width: 1px;
}

.about-style-three .video_block_one .video-box .video-content{
  position: absolute;
  left: -70px;
  top: 15px;
}

.about-style-three .video_block_one .video-box img{
  width: 100%;
}


.about-style-two.dark-section{
  background: #191919;
}

.about-style-two .pattern-layer .pattern-1{
  position: absolute;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 43px;
  background-size: 100% 100%;
}

.about-style-two .pattern-layer .pattern-2{
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 43px;
  background-size: 100% 100%;
}

.about-style-two.dark-section .tabs-box:before{
  background: #fff;
}

.about-style-two.dark-section .tab-btns li{
  color: var(--title-color);
}

.about-style-two.dark-section .tab-btns li.active-btn, 
.about-style-two.dark-section .tab-btns li:hover{
  color: #fff;
}

.about-style-two.dark-section .tab-btns li i{
  color: #fff;
  background: var(--secondary-color);
}


/** rtl-css **/

.rtl .content_block_one .content-box{
  margin-right: 0px;
  margin-left: 80px;
}

.rtl .video_block_one .video-box{
  margin-left: 0px;
  margin-right: 70px;
}

.rtl .content_block_one .content-box .accordion-box .accordion .acc-btn,
.rtl .content_block_one .content-box .accordion-box .accordion .acc-content{
  padding-left: 30px;
  padding-right: 70px;
}

.rtl .content_block_one .content-box .accordion-box .accordion .acc-btn .icon-box{
  left: inherit;
  right: 0px;
}

.rtl .about-style-two .tabs-box{
  direction: ltr;
  text-align: right;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .content_block_one .content-box{
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .rtl .content_block_one .content-box{
    margin-left: 0px;
  }

  .video_block_one .video-box{
    margin-left: 0px;
  }

  .rtl .video_block_one .video-box{
    margin-right: 0px;
  }

  .about-style-two .tabs-box:before{
    display: none;
  }

  .about-style-two .tab-btns{
    padding: 60px;
    margin-bottom: 30px;
    background: #191919;
    border-radius: 40px;
  }

  .about-style-two .tabs-content{
    padding-left: 50px;
  }

  .about-style-two .tabs-content:before{
    width: 100%;
  }

  .about-style-three .video_block_one .video-box .video-content{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .content_block_seven .content-box{
    margin-bottom: 30px;
  }

  .about-style-two.dark-section .tab-btns{
    background: #fff;
  }
}

@media only screen and (max-width: 767px){
  .about-section{
    padding: 70px 0px;
  }

  .about-style-two{
    padding: 0px 0px 70px 0px;
  }

  .about-style-three{
    padding: 70px 0px;
  }

  .about-style-two.dark-section{
    padding: 110px 0px;
  }
}

@media only screen and (max-width: 599px){
  .video_block_one .video-inner{
    padding: 150px 0px;
  }

  .about-style-two .tab-btns,
  .about-style-two .tabs-content{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 499px){
  .about-style-two .tab-btns li{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }

  .about-style-two .tab-btns li i{
    display: none;
  }
}











































