/** account-section **/

.account-section {
  position: relative;
  background: #F7F7F7;
  border-radius: 40px;
  overflow: hidden;
}

.account-section .pattern-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.account-block-one {
  margin-top: 28px;
  height: 100%;
}

.account-section .row.clearfix {
  justify-content: space-between;
  align-items: stretch;
  margin-top: 60px;
}

.account-block-one .inner-box {
  position: relative;
  display: block;
  height: 100%;
  background: #fff;
  box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 51px 30px 30px 30px;
  margin-bottom: 30px;
  transition: all 500ms ease;
}

.account-block-one .inner-box:hover {
  box-shadow: 0px 10px 80px 10px rgba(0, 0, 0, 0.15);
}

.account-block-one .inner-box .icon-box {
  position: absolute;
  display: inline-block;
  left: calc(50% - 56px);
  top: -80px;
  width: 112px;
  height: 112px;
  line-height: 56px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  z-index: 1;
  transition: background-color 400ms ease;
}

.account-block-one .inner-box .icon-box:before {
  position: absolute;
  content: '';
  background: #F2F3F8;
  width: 102%;
  height: 0;
  left: -1%;
  top: 0;
  border-radius: 10px;
  z-index: -1;
  transition: height 400ms ease;
}

.account-block-one .inner-box:hover .icon-box:before {
  height: 100%;
}

/* иконка посередине */
.icon-box i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  line-height: 1;
  /* можно чуть подсветить цвет при hover */
  transition: color 400ms ease, transform 400ms ease;
}

.account-block-one .inner-box:hover .icon-box i {
  /* например, чуть увеличивать иконку и менять оттенок */
  color: #0061f2;
  transform: scale(1.1);
}



.account-block-one .inner-box h3 {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 11px;
}

.account-block-one .inner-box h3 a {
  color: var(--title-color);
}

.account-block-one .inner-box h3 a:hover {}

@media (max-width: 767px) {
  .account-block {
    margin-top: 120px;
  }
}

/** account-style-two **/

.account-style-two {
  position: relative;
  background: #191919;
}

.account-block-two {
  position: relative;
  margin-top: 30px;
}

.account-block-two .inner-box {
  position: relative;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 50px 30px 30px 30px;
  margin-bottom: 30px;
  z-index: 1;
}

.account-block-two .inner-box:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  transform: scaleX(0);
  transform-origin: center;
  z-index: -1;
  border-radius: 10px;
  transition: all 500ms ease;
}

.account-block-two .inner-box:hover:before {
  transform: scaleX(1);
}

.account-block-two .inner-box .icon-box {
  position: absolute;
  left: 50%;
  top: -30px;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  border-radius: 50%;
  transition: all 500ms ease;
}

.account-block-two .inner-box:hover .icon-box {
  background: #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.08);
}

.account-block-two .inner-box h3 {
  position: relative;
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

.account-block-two .inner-box h3 a {
  display: inline-block;
  color: var(--title-color);
}

.account-block-two .inner-box h3 a:hover {
  text-decoration: underline;
}

.account-block-two .inner-box:hover h3 a,
.account-block-two .inner-box:hover p {
  color: #fff;
}

.account-block-two .inner-box p {
  margin-bottom: 18px;
  transition: all 500ms ease;
}

.account-block-two .inner-box:hover .btn-box .theme-btn {
  background: #fff;
  color: var(--theme-color) !important;
}

.account-style-two .pattern-layer .pattern-1 {
  position: absolute;
  left: 0px;
  top: -1px;
  width: 100%;
  height: 43px;
  background-size: 100% 100%;
}

.account-style-two .pattern-layer .pattern-2 {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 43px;
  background-size: 100% 100%;
}


/** account-style-three **/

.account-style-three {
  position: relative;
}

.content_block_eight .content-box {
  position: relative;
  display: block;
}

.content_block_eight .content-box .text-box p {
  font-size: 18px;
  line-height: 28px;
  max-width: 520px;
  margin-bottom: 30px;
}

.content_block_eight .content-box .text-box .list-style-one li:before {
  border-radius: 50%;
  background-color: rgba(34, 130, 58, 0.20);
}

.account-style-two.account-page .account-block-two .inner-box {
  box-shadow: 0px 4px 50px 10px rgba(0, 0, 0, 0.04);
}

.account-style-two.account-page .account-block-two .inner-box p {
  margin-bottom: 0px;
}

.feature-account .inner-container {
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow: hidden;
}

.feature-account .inner-container .single-item {
  position: relative;
  float: left;
  width: 20%;
}

.feature-account .single-item {
  position: relative;
  display: block;
  padding: 46px 25px 40px 30px;
  border-right: 1px solid #e5e5e5;
  min-height: 385px;
}

.feature-account .single-item:last-child {
  border-right: none;
}

.feature-account .single-item .icon-box {
  position: relative;
  display: inline-block;
  font-size: 46px;
  line-height: 46px;
  margin-bottom: 23px;
}

.feature-account .single-item h4 {
  display: block;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.feature-account .single-item h4 a {
  display: inline-block;
  color: var(--title-color);
}

.feature-account .single-item h4 a:hover {}

.feature-account .single-item .list-style-one li {
  margin-bottom: 13px;
}

.feature-account .single-item .list-style-one li:last-child {
  margin-bottom: 0px;
}

.feature-account .single-item .list-style-one li:before {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  font-size: 10px;
}

.feature-account .inner-container .shape {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/** rtl-css **/

.rtl .account-block-one .inner-box .icon-box {
  left: inherit;
  right: 30px;
}

.rtl .content_block_eight .content-box {
  margin-left: 0px;
  margin-right: 60px;
}

/** responsive-css **/

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 991px) {
  .account-block.pt_75 {
    padding-top: 0px;
  }

  .content_block_eight .content-box {
    margin-left: 0px;
  }

  .rtl .content_block_eight .content-box {
    margin-right: 0px;
  }

  .content_block_eight .content-box.mr_60 {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .feature-account .inner-container .single-item {
    width: 50%;
  }
}

@media only screen and (max-width: 767px) {
  .account-section {
    padding: 70px 0px 40px 0px;
  }

  .account-style-two {
    padding: 110px 0px 80px 0px;
  }

  .account-style-three {
    padding: 70px 0px;
  }

  .account-style-two.clear-bg {
    padding: 50px 0px 40px 0px;
  }

  .feature-account {
    padding-bottom: 70px;
  }
}

@media only screen and (max-width: 599px) {
  .feature-account .inner-container .single-item {
    width: 100%;
    border: none !important;
  }
}

@media only screen and (max-width: 499px) {}