
/** education-details **/

.education-details{
  position: relative;
}

.education-details-content{
  position: relative;
  display: block;
}

.education-details-content .inner-box{
  position: relative;
  display: block;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 40px;
}

.education-details-content .inner-box .author-box{
  position: relative;
  display: block;
  padding: 5px 0px 6px 70px;
  margin-bottom: 28px;
}

.education-details-content .inner-box .author-box .thumb-box{
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 0px;
  width: 57px;
  height: 57px;
  border-radius: 50%;
}

.education-details-content .inner-box .author-box .thumb-box img{
  width: 100%;
  border-radius: 50%;
}

.education-details-content .inner-box .author-box h5{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 4px;
}

.education-details-content .inner-box .author-box .designation{
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 19px;
}

.education-details-content .inner-box .info-list li{
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-right: 42px;
}

.education-details-content .inner-box .info-list li:before{
  position: absolute;
  content: '';
  background: #e5e5e5;
  width: 1px;
  height: 14px;
  top: 7px;
  right: -21px;
}

.education-details-content .inner-box .info-list li:last-child:before{
  display: none;
}

.education-details-content .inner-box .info-list li:last-child{
  margin: 0px !important;
}

.education-details-content .inner-box .info-list li span{
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--title-color);
}

.education-details-content .inner-box .info-list li img{
  margin-right: 10px;
}

.education-details-content .accordion{
  position: relative;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  margin-bottom: 30px;
}

.education-details-content .accordion:last-child{
  margin-bottom: 0px;
}

.education-details-content .accordion .acc-btn{
  font-size: 18px;
  line-height: 23px;
  padding: 18px 70px 19px 75px;
  cursor: pointer;
  color: var(--title-color);
}

.education-details-content .accordion .acc-btn .icon-box{
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
}

.education-details-content .accordion .acc-btn:before{
  position: absolute;
  content: '↓';
  font-family: 'icomoon';
  font-size: 7px;
  top: 20px;
  right: 28px;
  color: var(--title-color);
}

.education-details-content .accordion .acc-btn.active:before{
  transform: rotate(180deg);
}

.education-details-content .accordion .acc-content{
  padding: 0px 30px 23px 75px;
}

.education-details-content .text-box h3{
  display: block;
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 14px;
}

.education-details-content .text-box .list-item li{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 11px;
  padding-left: 18px;
}

.education-details-content .text-box .list-item li:last-child{
  margin-bottom: 0px;
}

.education-details-content .text-box .list-item li:before{
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 0px;
  top: 10px;
}

.education-sidebar{
  position: relative;
  display: block;
  border-radius: 10px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
  padding: 35px 40px 40px 40px;
}

.education-sidebar h4{
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.education-sidebar h4 del{
  color: var(--text-color);
}

.education-sidebar h4 span{
  font-size: 16px;
  font-weight: 400;
  font-family: var(--text-font);
  color: var(--text-color);
}

.education-sidebar .rating{
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: var(--title-color);
}

.education-sidebar .rating i{
  color: rgba(255, 200, 68, 1);
  margin-right: 6px;
}

.education-sidebar .rating span{
  font-weight: 400;
  color: var(--text-color);
  margin-left: 10px;
}

.education-sidebar .info-list li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 27px;
  padding: 13px 0px;
  border-bottom: 1px solid #e5e5e5;
  color: var(--title-color);
}

.education-sidebar .btn-box .theme-btn{
  width: 100%;
  border-radius: 40px;
}

.education-sidebar .share-option{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education-sidebar .share-option li{
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.education-sidebar .share-option li:last-child{
  margin: 0px !important;
}

.education-sidebar .share-option li a{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: var(--title-color);
}

/* .education-sidebar .share-option li a:hover{

} */

.education-sidebar .share-option li span{
  position: relative;
  display: inline-block;
  font-size: 18px;
  color: var(--title-color);
}

.video-section .video_block_one .video-inner{
  padding: 198px 0px;
}


/** rtl-css **/

.rtl .education-details-content .inner-box .author-box{
  padding-left: 0px;
  padding-right: 70px;
}

.rtl .education-details-content .inner-box .author-box .thumb-box{
  left: inherit;
  right: 0px;
}

.rtl .education-details-content .inner-box .info-list li img{
  margin-right: 0px;
  margin-left: 10px;
}

.rtl .education-details-content .accordion .acc-btn .icon-box{
  left: inherit;
  right: 30px;
}

.rtl .education-details-content .accordion .acc-btn:before{
  right: inherit;
  left: 28px;
}

.rtl .education-sidebar .rating i{
  margin-right: 0px;
  margin-left: 6px;
}

.rtl .education-sidebar .rating span{
  margin-left: 0px;
  margin-right: 10px;
}

.rtl .education-details-content .inner-box .info-list li{
  margin-right: 0px;
  margin-left: 42px;
}

.rtl .education-details-content .inner-box .info-list li:before{
  right: inherit;
  left: -21px;
}

.rtl .education-sidebar .share-option li{
  margin-right: 0px;
  margin-left: 20px;
}


/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .education-sidebar{
    margin-left: 0px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px){
  .education-details{
    padding: 65px 0px;
  }
}

@media only screen and (max-width: 599px){
  .education-details-content .inner-box,
  .education-sidebar{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 499px){
  .education-details-content .accordion .acc-btn{
    padding-left: 30px;
    padding-right: 50px;
  }

  .education-details-content .accordion .acc-btn .icon-box{
    display: none;
  }

  .education-details-content .accordion .acc-content{
    padding-left: 30px;
  }
}


[data-prices] {
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 100%;
  gap: 12px;
}

[data-price].active {
  background: var(--theme-color) !important;
  color: #fff !important;
}

[data-price] {
  border-radius: 12px;
  border: 1px solid var(--theme-color);
  padding: 12px 24px;
  flex: 1;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 0 !important;
}

