
/** experience-section **/

.experience-section{
  position: relative;
}

.experience-section .inner-container{
  position: relative;
  background: #101215;
  border-radius: 10px;
  padding: 80px 80px;
  overflow: hidden;
}

.experience-section .inner-container .shape{
  position: absolute;
  right: -30px;
  bottom: 0px;
  width: 562px;
  height: 418px;
  background-repeat: no-repeat;
  -webkit-animation: service_hexagon_2 35s infinite linear;
  -moz-animation: service_hexagon_2 35s infinite linear;
  -o-animation: service_hexagon_2 35s infinite linear;
  animation: service_hexagon_2 35s infinite linear;
}

.experience-section .content-box{
  position: relative;
  display: block;
  max-width: 385px;
}

.experience-section .content-box .sec-title h2{
  font-size: 40px;
  line-height: 46px;
}

.experience-section .content-box .text-box p{
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.80);
  margin-bottom: 30px;
}

.experience-section .content-box .text-box .theme-btn:hover{
  color: var(--theme-color) !important;
}

.experience-section .content-box .text-box .theme-btn:before,
.experience-section .content-box .text-box .theme-btn:after{
  background: #fff;
}

.experience-section .inner-box .single-item{
  position: relative;
  display: block;
  padding-left: 20px;
  border-left: solid;
  border-width: 2px;
}

.experience-section .inner-box .single-item h2{
  font-size: 36px;
  line-height: 45px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 10px;
}

.experience-section .inner-box .single-item p{
  font-size: 18px;
  line-height: 33px;
  color: #fff;
  font-weight: 500;
}

.dark_home .experience-section .inner-container{
  background: linear-gradient(110.34deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.03) 100%);
}

.dark_home .experience-section .content-box .text-box .theme-btn:hover{
  color: var(--theme-color-2) !important;
}


/** experience-style-two **/

.experience-style-two{
  position: relative;
}

.experience-style-two .inner-container{
  position: relative;
  display: block;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 70px 0px rgba(0, 0, 0, 0.08);
  padding: 80px 80px;
}

.experience-style-two .text-box{
  position: relative;
  display: block;
}

.experience-style-two .text-box p{
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
}

.experience-style-two .sec-title{
  max-width: 400px;
}

.experience-style-two .sec-title h2{
  font-size: 40px;
  line-height: 48px;
}

.experience-style-two .lower-box .single-item{
  position: relative;
  display: block;
  padding-left: 20px;
  border-left: solid;
  border-width: 2px;
}

.experience-style-two .lower-box .single-item h2{
  font-size: 36px;
  line-height: 45px;
  font-weight: 500;
  margin-bottom: 10px;
}

.experience-style-two .lower-box .single-item p{
  font-size: 18px;
  line-height: 33px;
  font-weight: 500;
}

.experience-style-two .shape{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0.05;
  -webkit-animation: service_hexagon_2 60s infinite linear;
  -moz-animation: service_hexagon_2 60s infinite linear;
  -o-animation: service_hexagon_2 60s infinite linear;
  animation: service_hexagon_2 60s infinite linear;
}


/** rtl-css **/

.rtl .experience-section .inner-box .single-item{
  padding-left: 0px;
  padding-right: 20px;
  border-left: none;
  border-right: solid;
}

.rtl .experience-style-two .lower-box .single-item{
  padding-left: 0px;
  padding-right: 20px;
  border-left: none;
  border-right: solid;
}

/** responsive-css **/

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){
  .experience-section .content-box{
    margin-bottom: 30px;
  }

  .experience-section .inner-container .shape{
    display: none;
  }

  .experience-style-two .sec-title{
    max-width: 100%;
    margin-bottom: 30px;
  }

  .experience-style-two .lower-box .single-item{
    margin-bottom: 30px;
  }

  .experience-style-two .inner-container{
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 767px){
  .experience-section .inner-container{
    padding: 70px 30px 35px 30px;
  }

  .experience-section .inner-box .single-item{
    margin-bottom: 30px;
  }

  .experience-style-two .inner-container{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media only screen and (max-width: 599px){
  
}

@media only screen and (max-width: 499px){

}











































